
* {
  padding: 0;
  margin: 0;
  border: 0;
  font: 'Poppins', sans-serif;
  font-size: 14pt;
}

textarea:focus, input:focus{
  outline: none;
}

.App {
  width: 100vw;
  height: 100vh;
}

.Messages {
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  padding: 24px 12px 12px 12px;
  box-sizing: border-box;
  overflow-y: scroll;
}

.Message {
  display: flex;
  align-items: center;
  padding: 12px 25px 12px 25px;
  min-height: 50px;
  border-radius: 25px;
  box-sizing: border-box;
  width: max-content;
}

.LoadingMessage {
  display: flex;
  align-items: center;
}

.UserMessage {
  background-color: orange;
  align-self: flex-end;
}

.RespondentMessage {
  background-color: lightblue;
}

.FieldContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: purple;
}

.FieldForm {
  background-color: orange;
  border-radius: 25px;
  width: calc(100% - 12px);
  height: 50px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.TextField {
  display:inline-block;
  height: 100%;
  width: calc(100% - 50px);
  background-color: transparent;
  padding-left: 25px;
  padding-right: 12px;
  box-sizing: border-box;
}

.SendButton {
  display:inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  box-sizing: border-box;
}