
* {
  padding: 0;
  margin: 0;
  border: 0;
  font: 'Poppins', sans-serif;
  font-size: 14pt;
  color: #494949;
}

textarea:focus, input:focus{
  outline: none;
}

.App {
  width: 100vw;
  height: 100vh;
}

.TitleContainer {
  background-color: #5BFFD8;
  height: 66px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Title {
  font-weight: 900;
  font-size: 18pt;
}

.Subtitle {
  padding: 4px;
  font-size: 10pt;
}

.Messages {
  height: calc(100% - 76px - 66px);
  display: flex;
  flex-direction: column;
  padding: 24px 12px 12px 12px;
  box-sizing: border-box;
  overflow-y: scroll;
}

.Message {
  display: flex;
  align-items: center;
  padding: 12px 30px 12px 30px;
  min-height: 50px;
  border-radius: 30px;
  box-sizing: border-box;
  width: max-content;
  margin-bottom: 4px;
}

.LoadingMessage {
  display: flex;
  align-items: center;
}

.UserMessage {
  background-color: #5B93FF;
  align-self: flex-end;
  color: white;
}

.RespondentMessage {
  background-color: #5BFFD8;
}

.FieldContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 76px;
  background-color: #5BFFD8;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.FieldForm {
  border-radius: 30px;
  width: calc(100% - 12px);
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 8px;
  box-sizing: border-box;
  background-color: white;
}

.TextField {
  display:inline-block;
  height: 100%;
  width: calc(100% - 50px);
  background-color: transparent;
  padding-left: 30px;
  padding-right: 12px;
  box-sizing: border-box;
  font-weight: 900;
}

.SendButton {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  box-sizing: border-box;
  background-color: #5BFFD8;
}